@import './bem.less';

// colors
@--color-white: #fff;
@--color-black: #000;

@--color-primary: #00b38a;
@--color-primary-light-1: mix(@--color-white, @--color-primary, 10%);
@--color-primary-light-2: mix(@--color-white, @--color-primary, 20%);
@--color-primary-light-3: mix(@--color-white, @--color-primary, 30%);
@--color-primary-light-4: mix(@--color-white, @--color-primary, 40%);
@--color-primary-light-5: mix(@--color-white, @--color-primary, 50%);
@--color-primary-light-6: mix(@--color-white, @--color-primary, 60%);
@--color-primary-light-7: mix(@--color-white, @--color-primary, 70%);
@--color-primary-light-8: mix(@--color-white, @--color-primary, 80%);
@--color-primary-light-9: mix(@--color-white, @--color-primary, 90%);

@--color-success: #67c23a;
@--color-warning: #e6a23c;
// @--color-danger: #f56c6c;
@--color-danger: #fd5f39;
@--color-info: #909399;
@--color-success-light: mix(@--color-white, @--color-success, 80%);
@--color-warning-light: mix(@--color-white, @--color-warning, 80%);
@--color-danger-light: mix(@--color-white, @--color-danger, 80%);
@--color-info-light: mix(@--color-white, @--color-info, 80%);
@--color-success-lighter: mix(@--color-white, @--color-success, 90%);
@--color-warning-lighter: mix(@--color-white, @--color-warning, 90%);
@--color-danger-lighter: mix(@--color-white, @--color-danger, 90%);
@--color-info-lighter: mix(@--color-white, @--color-info, 90%);

@--color-text-primary: #303133;
@--color-text-regular: #606266;
@--color-text-secondary: #909399;
@--color-text-placeholder: #c0c4cc;



/* Font
-------------------------- */
@--font-path: 'fonts';
@--font-size-base: 14px;
@--font-size-small: 13px;
@--font-size-large: 18px;
@--font-color-disabled-base: #bbb;
@--font-weight-primary: 500;
@--font-line-height-primary: 24px;

/* Background
-------------------------- */
@--background-color-base: #f5f7fa;

/* Box-shadow
-------------------------- */
@--box-shadow-base: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
@--box-shadow-dark: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12);
@--box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);


/* Fill
-------------------------- */
@--fill-base: @--color-white;

/* Border
-------------------------- */
@--border-width-base: 1px;
@--border-style-base: solid;
@--border-color-base: #dcdfe6;
@--border-color-light: #e4e7ed;
@--border-color-lighter: #ebeef5;
@--border-color-extra-light: #f2f6fc;
@--border-color-hover: @--color-text-placeholder;
@--border-base: @--border-width-base @--border-style-base @--border-color-base;
@--border-radius-base: 4px;
@--border-radius-small: 2px;
@--border-radius-circle: 100%;

/* Transition
-------------------------- */
@--all-transition: all .3s cubic-bezier(.645,.045,.355,1);
@--fade-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1);
@--fade-linear-transition: opacity 200ms linear;
@--md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1), opacity 300ms cubic-bezier(0.23, 1, 0.32, 1);
@--border-transition-base: border-color .2s cubic-bezier(.645,.045,.355,1);
@--color-transition-base: color .2s cubic-bezier(.645,.045,.355,1);

/* Disable base
-------------------------- */
@--disabled-fill-base: @--background-color-base;
@--disabled-color-base: @--color-text-placeholder;
@--disabled-border-base: @--border-color-light;


/* z-index
-------------------------- */
@--index-normal: 1;
@--index-top: 1000;
@--index-popper: 2000;





/* Button
-------------------------- */
@--button-font-size: 14px;
@--button-font-weight: @--font-weight-primary;
@--button-border-radius: @--border-radius-base;
@--button-padding-vertical: 12px;
@--button-padding-horizontal: 20px;

@--button-medium-font-size: 14px;
@--button-medium-border-radius: @--border-radius-base;
@--button-medium-padding-vertical: 10px;
@--button-medium-padding-horizontal: 20px;

@--button-small-font-size: 12px;
@--button-small-border-radius: @--border-radius-base - 1;
@--button-small-padding-vertical: 9px;
@--button-small-padding-horizontal: 15px;

@--button-mini-font-size: 12px;
@--button-mini-border-radius: @--border-radius-base - 1;
@--button-mini-padding-vertical: 7px;
@--button-mini-padding-horizontal: 15px;

@--button-default-color: @--color-text-regular;
@--button-default-fill: @--color-white;
@--button-default-border: @--border-color-base;

@--button-disabled-color: @--color-text-placeholder;
@--button-disabled-fill: @--color-white;
@--button-disabled-border: @--border-color-lighter;

@--button-primary-border: @--color-primary;
@--button-primary-color: @--color-white;
@--button-primary-fill: @--color-primary;

@--button-success-border: @--color-success;
@--button-success-color: @--color-white;
@--button-success-fill: @--color-success;

@--button-warning-border: @--color-warning;
@--button-warning-color: @--color-white;
@--button-warning-fill: @--color-warning;

@--button-danger-border: @--color-danger;
@--button-danger-color: @--color-white;
@--button-danger-fill: @--color-danger;

@--button-info-border: @--color-info;
@--button-info-color: @--color-white;
@--button-info-fill: @--color-info;

@--button-hover-tint-percent: 20%;
@--button-active-shade-percent: 10%;


/* Input
-------------------------- */
@--input-font-size: @--font-size-base;
@--input-color: @--color-text-regular;
@--input-width: 140px;
@--input-height: 40px;
@--input-border: @--border-base;
@--input-border-color: @--border-color-base;
@--input-border-radius: @--border-radius-base;
@--input-border-color-hover: @--border-color-hover;
@--input-fill: @--color-white;
@--input-fill-disabled: @--disabled-fill-base;
@--input-color-disabled: @--font-color-disabled-base;
@--input-icon-color: @--color-text-placeholder;
@--input-placeholder-color: @--color-text-placeholder;
@--input-max-width: 314px;

@--input-hover-border: @--border-color-hover;
@--input-clear-hover-color: @--color-text-secondary;

@--input-focus-border: @--color-primary;
@--input-focus-fill: @--color-white;

@--input-disabled-fill: @--disabled-fill-base;
@--input-disabled-border: @--disabled-border-base;
@--input-disabled-color: @--disabled-color-base;
@--input-disabled-placeholder-color: @--color-text-placeholder;

@--input-medium-font-size: 14px;
@--input-medium-height: 36px;

@--input-small-font-size: 13px;
@--input-small-height: 32px;

@--input-mini-font-size: 12px;
@--input-mini-height: 28px;

/* Radio
-------------------------- */
@--radio-font-size: 14px;
@--radio-font-weight: @--font-weight-primary;
@--radio-color: @--color-text-regular;
@--radio-input-height: 14px;
@--radio-input-width: 14px;
@--radio-input-border-radius: @--border-radius-circle;
@--radio-input-fill: @--color-white;
@--radio-input-border: @--border-base;
@--radio-input-border-color: @--border-color-base;
@--radio-icon-color: @--color-white;

@--radio-disabled-input-border-color: @--disabled-border-base;
@--radio-disabled-input-fill: @--disabled-fill-base;
@--radio-disabled-icon-color: @--disabled-fill-base;

@--radio-disabled-checked-input-border-color: @--disabled-border-base;
@--radio-disabled-checked-input-fill: @--disabled-fill-base;
@--radio-disabled-checked-icon-color: @--color-text-placeholder;

@--radio-checked-text-color: @--color-primary;
@--radio-checked-input-border-color: @--color-primary;
@--radio-checked-input-fill: @--color-white;
@--radio-checked-icon-color: @--color-primary;

@--radio-input-border-color-hover: @--color-primary;

@--radio-bordered-height: 40px;
@--radio-bordered-padding: 12px 20px 0 10px;
@--radio-bordered-medium-padding: 10px 20px 0 10px;
@--radio-bordered-small-padding: 8px 15px 0 10px;
@--radio-bordered-mini-padding: 6px 15px 0 10px;
@--radio-bordered-medium-input-height: 14px;
@--radio-bordered-medium-input-width: 14px;
@--radio-bordered-medium-height: 36px;
@--radio-bordered-small-input-height: 12px;
@--radio-bordered-small-input-width: 12px;
@--radio-bordered-small-height: 32px;
@--radio-bordered-mini-input-height: 12px;
@--radio-bordered-mini-input-width: 12px;
@--radio-bordered-mini-height: 28px;

@--radio-button-font-size: @--font-size-base;
@--radio-button-checked-fill: @--color-primary;
@--radio-button-checked-color: @--color-white;
@--radio-button-checked-border-color: @--color-primary;
@--radio-button-disabled-checked-fill: @--border-color-extra-light;






/* Checkbox
-------------------------- */
@--checkbox-font-size: 14px;
@--checkbox-font-weight: @--font-weight-primary;
@--checkbox-color: @--color-text-regular;
@--checkbox-input-height: 14px;
@--checkbox-input-width: 14px;
@--checkbox-input-border-radius: @--border-radius-small;
@--checkbox-input-fill: @--color-white;
@--checkbox-input-border: @--border-base;
@--checkbox-input-border-color: @--border-color-base;
@--checkbox-icon-color: @--color-white;

@--checkbox-disabled-input-border-color: @--border-color-base;
@--checkbox-disabled-input-fill: #edf2fc;
@--checkbox-disabled-icon-color: @--color-text-placeholder;

@--checkbox-disabled-checked-input-fill: @--border-color-extra-light;
@--checkbox-disabled-checked-input-border-color: @--border-color-base;
@--checkbox-disabled-checked-icon-color: @--color-text-placeholder;

@--checkbox-checked-text-color: @--color-primary;
@--checkbox-checked-input-border-color: @--color-primary;
@--checkbox-checked-input-fill: @--color-primary;
@--checkbox-checked-icon-color: @--fill-base;

@--checkbox-input-border-color-hover: @--color-primary;

@--checkbox-bordered-height: 40px;
@--checkbox-bordered-padding: 9px 20px 9px 10px;
@--checkbox-bordered-medium-padding: 7px 20px 7px 10px;
@--checkbox-bordered-small-padding: 5px 15px 5px 10px;
@--checkbox-bordered-mini-padding: 3px 15px 3px 10px;
@--checkbox-bordered-medium-input-height: 14px;
@--checkbox-bordered-medium-input-width: 14px;
@--checkbox-bordered-medium-height: 36px;
@--checkbox-bordered-small-input-height: 12px;
@--checkbox-bordered-small-input-width: 12px;
@--checkbox-bordered-small-height: 32px;
@--checkbox-bordered-mini-input-height: 12px;
@--checkbox-bordered-mini-input-width: 12px;
@--checkbox-bordered-mini-height: 28px;

@--checkbox-button-font-size: @--font-size-base;
@--checkbox-button-checked-fill: @--color-primary;
@--checkbox-button-checked-color: @--color-white;
@--checkbox-button-checked-border-color: @--color-primary;


/* Message
-------------------------- */
@--message-shadow: @--box-shadow-base;
@--message-min-width: 380px;
@--message-background-color: #edf2fc;
@--message-padding: 15px 15px 15px 20px;
@--message-content-color: @--color-text-regular;
@--message-close-color: @--color-text-placeholder;
@--message-close-size: 16px;
@--message-close-hover-color: @--color-text-secondary;

@--message-success-color: @--color-success;
@--message-info-color: @--color-info;
@--message-warning-color: @--color-warning;
@--message-danger-color: @--color-danger;

/* Dialog
-------------------------- */
@--dialog-background-color: @--color-primary-light-4;
@--dialog-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
@--dialog-close-hover-color: @--color-primary;
@--dialog-title-font-size: @--font-size-large;
@--dialog-font-size: 14px;
@--dialog-line-height: @--font-line-height-primary;
@--dialog-padding-primary: 20px;



